@{
    ViewBag.Title = "Test 2 new Controler";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide test 2 information.</p>
<input id="Text1" type="text" />
<input id="Button1" type="button" value="button" />